<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando tu Reseña</title>
    <link rel="stylesheet" href="/css/home.css">
    </head>
<body>
    <div style="text-align: center;" class="uk-container">
        <br>
        <br>
        <br>
        <h1>Modifica tu reseña </h1>
        <div class="uk-section uk-section-large">
            
            <form id="formlogin" method="POST" class="uk-background-secundary uk-padding uk-padding-large" action="/usuario/reviews/edit/<%= resultado.id %>">
                <div class="uk-margin">
                    <div class="uk-inline uk-width-2-3">
                        <label for="resenia">Email:</label>
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input" type="email" id="email" name="email" placeholder="email...">
                    </div>
                </div>
            <br>
                <div class="uk-margin">
                    <div class="uk-inline uk-width-2-3">
                        <label for="resenia">Contraseña:</label>
                        <span class="uk-form-icon" uk-icon="icon: pencil"></span>
                        <input class="uk-input" type="password" id="pass" name="password" placeholder="contraseña...">
                    </div>
                 </div>
                 <br>
                 <div class="uk-margin">
                     <div class="uk-inline uk-width-2-3">
                         <label for="resenia">Reseña:</label>
                         
                         <textarea class="uk-textarea" value="" name="resenia" id="" cols="50" rows="5" id="resenia">
                             <%= resultado.texto_de_reseña %>
                            </textarea>
                     </div>
                 </div>
                 <div class="uk-margin">
                    <p> Puntaje Viejo: <%= resultado.puntaje_sobre_pelicula %></p>
                     <label for="resenia" class="uk-form-width-medium uk-label uk-margin-bottom">Puntaje nuevo:</label>
                     <input type="number" id="points" name="puntaje" class="uk-range" min="0" max="10" onchange="updateValue(this.value)">
                     <p id="valorRange" style="color:white"> </p>
                     </div>
                 <button type="submit" > Confirmar Edicion </button>
            
            </form>




        </div>









    </div>
    <br>
        <br>
        <footer>
            <div class="padre-footer">
        
            <div class="copyright">
              <h2>Tommy Cohen</h2>
        
            </div>
            <div class="copyright">
            <h2>Victoria Duque</h2>
            </div>
            <div class="copyright">
            <h2>Delfina Orlansky</h2>
            </div>
            </div>
        
            </footer>
    
</body>
</html>