<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
   
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="text-align: center;">El email o la contraseña son incorrectos, intentalo de nuevo</h1>
   <br>
   <br>
   <div style="text-align: center;">
    <a style="color: red;" href='/usuario/reviews/delete/:id'>Intentalo de nuevo</a>
   </div>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   
   <footer>
       <div class="padre-footer">
       
         <div class="copyright">
             <h2 class="nombresDelFooter">Tommy Cohen</h2>
       
         </div>
         <div class="copyright">
           <h2 class="nombresDelFooter">Victoria Duque</h2>
         </div>
         <div class="copyright">
           <h2 class="nombresDelFooter">Delfina Orlansky</h2>
         </div>
       </div>
       
           </footer>
</body>
</html>