<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/detallePelicula.css">

    <title style="text-align: center;"> Registrate!</title>
</head>
<h1 style="text-align: center;"> ¡Registrate!</h1>
<!-- Si el usuario ya existe, que salga un mensaje diciendole-->
<% if (typeof existeUsuario != "undefined") { %>
    <h2>El usuario ya existe</h2>
<% } %>
<body style="text-align: center;">
    <form action="/usuario/crearUsuario" method="POST"> 
<div>
    <label for=""> Nombre de usuario </label>
    <input type="text" id="nombre_de_usuario" name= "nombre_de_usuario" required>
</div>
 <br>
<div>
    <label for=" "> Email </label>
    <input type="email" id="email" name="email" required>
</div>

<br>

<div>
    <label for=" "> Fecha de Nacimiento</label>
    <input type="date" id="fecha_de_nacimiento" name="fecha_de_nacimiento" required>
</div>

<br>

<div>
    <label for=" "> Contraseña </label>
    <input type="password" id="password" name="password" required>
</div>

<br>

<button value="submit" type="submit"> Registrarme </button>


    </form>
    <a style=color:red href="/"> Volver a Home</a>
    <br>
        <br>
        <footer>
            <div class="padre-footer">
        
            <div class="copyright">
              <h2>Tommy Cohen</h2>
        
            </div>
            <div class="copyright">
            <h2>Victoria Duque</h2>
            </div>
            <div class="copyright">
            <h2>Delfina Orlansky</h2>
            </div>
            </div>
        
            </footer>
</body>
</html>