<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1 style="text-align: center;">Hubo un problema! El email o la contraseña no son correctos</h1>
    <div style="text-align: center;">
        <a style="color: red;" href="/"> Volve a la home</a>
        <br>
        <br>
        <a style="color: red;" href="/usuario/crearusuario"> Si no estas Registrado, registrate gratis aca!</a>
    </div>
</body>
</html>