<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Usuarios </title>
    
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/detallePelicula.css">

</head>
<body>
    <h1> Detalle del Usuario:  </h1>
    <ul> 
    <p>
       <b>Nombre:</b> <%= elUsuario.nombre_de_usuario %> 
    </p>
    <p>
        <b> Email: </b> <%= elUsuario.email %>
    </p>
     <p>
        <% for( let i = 0; i < elUsuario.resenias.length; i++) { %>
       <b> Reseña: </b> <%= elUsuario.resenias[i].texto_de_reseña %>
    </p>
        <% } %>          
    </ul>
    <br>
    <a style="color: red;" href="/usuario"> 
        Volver al buscador  </a>
        <br>
        <br>
        <br>
        <br>
        <footer>
            <div class="padre-footer">
        
            <div class="copyright">
              <h2>Tommy Cohen</h2>
        
            </div>
            <div class="copyright">
            <h2>Victoria Duque</h2>
            </div>
            <div class="copyright">
            <h2>Delfina Orlansky</h2>
            </div>
            </div>
        
            </footer>
        
</body>
</html>




