<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
  <ul>
      <% for (let i= 0; i < listadoUsuarios.length ; i++) { %>
    <li> <%= listadoUsuarios[i].nombre_de_usuario %> </li>
    <% } %> 
  </ul>
</body>
</html>