<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Usuarios </title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>
<body>
    <h1> Detalle del Usuario: <%= elUsuario.nombre_de_usuario %>  </h1>
    <p> 
       <b> Email: </b> <%= elUsuario.email %>
    </p>
    <p>   
        <b> Reseña: </b> <%= elUsuario.reseñas.texto_de_reseña %> 
    </p>
</body>
</html>