<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/detallePelicula.css">

    <title>Usuarios</title>
</head>
<body>
  <ul>
      <% for (let i= 0; i < listadoUsuarios.length ; i++) { %>
    <li>
         <%= listadoUsuarios[i].nombre_de_usuario %>
         <a href="/usuario/detalle/<%= listadoUsuarios [i].id %> "> Ver Detalle </a>       
    </li>
    <% } %> 
  </ul>
</body>
</html>


