*{
    font-family: monaco;
    box-sizing: border-box;
}
a:hover{
  outline: 0;
  opacity: 0.5;
  color: black;
  text-decoration: none;
}

#estrenos-carousel{
  color: white;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: 2rem;
  background-color: #68f2cc;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  display: inline-block;
  margin: 10% auto 0 auto;
  border-radius: 20px;
  border-style: double;
  border-color: black;
  bottom: 83%;
  text-decoration: none;
}

#articulosFavoritos{
  margin-bottom: 10%;
}

#sacarFavs{
  background-color: red;
}


.carousel1{
  width: 85%;
border-radius: 20%;
height: 62vh;
border: #61F3CC;
border-style: solid;
}



header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
nav {
  background-color: #61F3CC;
  width: 100%;
  height: 45px;
  z-index: 1;
  box-shadow: -2px -2px 5px gray, 2px 2px 5px gray;

}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul.ul-logo {
  width: 300px;
  float: left;
}
nav ul.ul-menu {
  float: right;
  display: flex;
    margin-top: -26px;
    width: 598.84px;
height: 90.28px;

}
nav li.li-menu {
  margin: 0 30px 0 0;
  padding: 10px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 7%;
  position: relative;
    top: -19px;
    width: 10%;
    height: 5vh;
}
nav li.li-menu:hover{

}
nav a {
  text-decoration: none;
}
.li-logo img{
  margin-left: 15%;
width: 22%;
}
.tmdb-logo img{
  width: 24%;
  position: relative;
  margin-top: -22%;
  margin-left: 39%;
}

.item{
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.peliculasGeneros {
  float: left;
  width: 30%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  background-color:#61F3CC ;
  height: 700px;
}
.peliculasGeneros:nth-child(3n){
  margin-right: 0;
}
 img.generos-imagenes {
  max-width: 100%;
  border: white;
 border-style: double;
}

a{
  color: white;
  font-size: 16px;
  text-decoration: none;
}


h2.titulo-producto{
  text-align: center;
  margin-top: 0%;
}

.carouseles{
  overflow: hidden;
}

.car{
  position: relative;
  float: left;
  width: 45%;
  margin-right:10%;
  margin-left: 0%;
  margin-top:4%;
}
.car:nth-child(2n){
  margin-right: 0%;
}

li.mySlides1{
  text-align: center;
  width: 100%;
}
li.mySlides2{
  text-align: center;
  width: 100%;
}
li.mySlides3{
  text-align: center;
  width: 100%;
}
li.mySlides4{
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.carruseles{
  overflow: hidden;
}
.padre-footer{
  overflow: hidden;
  right: 0px;
  margin-right: 5%;
  margin-left: 5%;
}

.copyright{
  float: left;
  width: 30%;
  margin-right: 5%;
  border-style: solid;
border-width: 2px;
border-color: black;
border-radius: 35px;
background-color: rgb(104,242,204)
}
.copyright:nth-child(3n){
  margin-right: 0;
}


/* .topnav {
  overflow: hidden;
  background-color: rgb(104,242,204);
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
} */

div.search-container {
  position: absolute;
}

header form.busqueda {
top:33px;
left:653px;
}
header form.login {
  position: relative;
  bottom: 5px;
}
ul.ul-menu{
  position: relative;
  left: -281px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {

}

#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0px 16px;
  text-decoration: none;
  display: block;
  margin: -2px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

nav ul.ul-menu li a.item:hover {
  text-decoration: none;
  color: white;

}

.show {display: block;}



button.boton_log_in{
  padding-top: 18px;
    width: 17%;
    height: 7px;
    position: relative;
top: 6px;
}
}

button.boton_log_in:hover{
    border-bottom: 1px solid #085955;
    border-width: medium;
  }

footer {

  width: 100%;
  -webkit-box-shadow: 0px -10px 9px -10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px -10px 9px -10px rgba(0,0,0,.8);
   box-shadow: 0px -10px 9px -10px rgba(0,0,0,.8);

   background-color: black;
   color: white;
   text-align: center;
   bottom: 0px;
   overflow: hidden;
   width: 100%;
}


div.lcdtm {
  margin-top: 140px;
  overflow: hidden;
  padding-left: 52px;
}
div.estrenos{
  float: left;
  width: 30%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
}
div.estrenos:nth-child(3n){
  margin-right: 0;
}

div.estrenos img{
  width: 90%;
  margin: 0 auto;
}


.w3-show{display:block!important}

.w-100{
  width: 90%;
  height: 61vh;
}

.carrusel{
  margin-top: 6%;
  margin-right: 10%;
  margin-left: 0%;
  margin-bottom: 3%;
  float: left;
  width: 45%;
}

.carrusel:nth-child(2n){
  margin-right: 0%;
}
.carrusel img{
    border-radius: 20%;
}

.carousel-inner{
  width: 60%;
  margin: 0 auto;
}

.h3_carousel{
  text-decoration: none;
  color: black;
}

.h3_carousel:hover{
  color: black;
}



/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


a.item{
  position: relative;


}


div.carousel-caption {
  position: relative;
}

/* Slideshow container */
ul.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  float: left;
  margin-top: 150px;
}

.contenedorPadre{
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

div.mySlides1, div.mySlides2 {
    text-align: center;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.1);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


button.dropbtn{
  padding-top: 8px;
  height: 1vh;
}

.boton_log_in{
  position: relative;
left: -22px;
bottom: -9px;
background-color: rgb(110, 241, 204)
}

.button_buscador{
  width: 16%;
    position: relative;
    top: -45px;
    left: 8px;
}
button.dropbtn{
background: rgb(104, 242, 204);
padding-top: 23px;
position: relative;
left: -32px;
}
button.dropbtn:hover{
  color: #000!important;
}

img.d-block.w-100{
  height: 53vh;
}

$primary: #2196F3;

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
  background-size: cover;
}

@keyframes spinner {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(359deg); }
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(darken($primary,40%), 0.85);
}


.login {

  border-radius: 2px 2px 5px 5px;
  padding: 10px 20px 20px 20px;
  width: 90%;
  max-width: 320px;
  background: #ffffff;
  position: relative;
  padding-bottom: 80px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);

  &.loading {
    button {
      max-height: 100%;
      padding-top: 50px;
      .spinner {
        opacity: 1;
        top: 40%;
      }
    }
  }

  &.ok {
    button {
      background-color: #8bc34a;
      .spinner{
        border-radius: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        height: 20px;
        animation: none;
        transform: rotateZ(-45deg);
      }
    }
  }

  input {
    display: block;
    padding: 15px 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;

    &+ i.fa {
        color: #fff;
      font-size: 1em;
      position: absolute;
      margin-top: -47px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }

    &:focus {
      &+ i.fa {
        opacity: 1;
        left: 30px;
      transition: all 0.25s ease-out;
      }
      outline: none;
      color: #444;
      border-color: $primary;
      border-left-width: 35px;
    }

  }

  a {
   font-size: 0.8em;
    color: $primary;
    text-decoration: none;
  }

  .title {
    color: #444;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 30px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
  }

  button {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    background: $primary;
    color: #fff;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 60px;
    border: 0px solid rgba(0,0,0,0.1);
  border-radius: 0 0 2px 2px;
    transform: rotateZ(0deg);

    transition: all 0.1s ease-out;
      border-bottom-width: 7px;

    .spinner {
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      border: 4px solid #ffffff;
      border-top-color: rgba(255,255,255,0.3);
      border-radius: 100%;
      left: 50%;
      top: 0;
      opacity: 0;
      margin-left: -20px;
      margin-top: -20px;
      animation: spinner 0.6s infinite linear;
      transition: top 0.3s 0.3s ease,
                opacity 0.3s 0.3s ease,
                border-radius 0.3s ease;
      box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
    }

  }

    &:not(.loading) button:hover {
      box-shadow: 0px 1px 3px $primary;
    }
    &:not(.loading) button:focus {
      border-bottom-width: 4px;
    }


}

footer {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #ddd;
  font-weight: normal;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
  font-size: 0.8em;
  a, a:link {
    color: #fff;
    text-decoration: none;
  }
}

form.busqueda{
  position: absolute;
}
form.busqueda input{
    bottom: -31px;
    left: 65px;
}

a.boton_deHome{
  position: relative;
  bottom: 3px;
  left: 5px;
}

a.boton_deHome:hover{
  color: #000!important;
  color: black;
  text-decoration: none;
}

button.w3-button.w3-black{
  position: relative;
    bottom: -18px;
    left: -93px;
    background-color: rgb(104,242,204)!important;
}

.button_buscador{
  width: 20%;
position: relative;
top: -36px;
left: 162px;
height: -1px;
padding-top: 0px;
padding-left: 12px;
padding-bottom: 6px;
background-color: gainsboro;
}

.titulo_carrousel:hover{
  color: gainsboro!important;
}

a#top100-carrousel{
  margin-top: 7%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
    font-size: 20px;
    background-color: #68f2cc;
    color: white;
    width: 15%;
    margin: 0 auto;
    border-radius: 20px;
    border-style: double;
    border-color: black;
    bottom: 85%;
    margin-left: 20%;
    text-decoration: none;

}


section{
  overflow: hidden;
}
section a.titulo_carrousel{
  width: 100%;
}

section ul.slideshow-container{
  width: 100%;
}
section img{
  width: 100%;
}

.boton_cancelar{
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.preferidas{
  display: none;
}

li.nombre{
  position: relative;
    right: 16px;
    bottom: -19px;
    color: white;
}

a.preferidas{
  position: relative;
bottom: 34px;
right: 16px;
width: 112%;
}

a.preferidas:hover{
  color: #000!important;
}
.boton_logOut:hover{
  opacity: 0.8;
}

.boton_logOut{
  width: 103px;
      padding: 1px;
      height: 50px;
      position: relative;
      text-align: center;
      right: -161px;
      bottom: -10px;
      background-color: rgb(104, 242, 204);

}

p.boton_log_out{
  position: relative;
  bottom: -12px;
}

p.boton_log_out:hover{
  color: #000!important;
}
a.preferidas:hover{
  text-decoration: none;
}

.nombresDelFooter{
  color: white;
  text-align: center;
}

a.next:hover{
  color: rgba(0,0,0,0.2);
  text-decoration: none;
}

a.prev:hover{
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

li.nombre p{
  position: relative;
bottom: -14px;
width: 109%;
}

a.boton_deHome2:hover{
  text-decoration: none;
  color: #000!important;
}

.sin-peliculas{
  background-color: red;
  width: 37%;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 24%;
  margin-top: 12%;
  border-radius: 20px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 1000px;

}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
  margin-top: 557%;
  margin-left: 1000%;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* dispositivos mobile */
@media only screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  button.dropbtn{
  background: rgb(104, 242, 204);
  padding-top: 23px;
  position: relative;
  left: -32px;
  }

  .tmdb-logo{
    display: none;
  }

  form.busqueda{
    display: none;
  }

  .peliculasGeneros {
    float: left;
    width: 45%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
    background-color:#61F3CC;
    height: 500px;
  }
  .peliculasGeneros:nth-child(3n){
    margin-right: 10%;
  }
  .peliculasGeneros:nth-child(2n){
    margin-right: 0;
  }

  a.item{
    position: relative;
      bottom: 22px;
      left: 205px;
  }
  button.dropbtn {
  position: relative;
  bottom: 37px;
  left: 441px;
  }

  a.boton_deHome {
    position: relative;
    bottom: 38px;
    left: 565px;
    z-index: 1;
  }

  .boton_logOut{
    right: -353px;
    bottom: 32px;
  }

  .boton_deHome2{
    display: none;
  }

  li.nombre{
    right: -173px;
    bottom: 23px;
  }

  a.preferidas{
    bottom: 76px;
    right: -178px;
  }

  button.w3-button.w3-black{
    position: relative;
    bottom: 20px;
    left: 466px;
  background-color: rgb(104,242,204)!important;
}

  .tmdb-logo{
    display: none;
  }

  form.busqueda{
    display: none;
  }



  .car{
    position: relative;
    float: left;
    width: 80%;
    margin-right:10%;
    margin-left: 10%;
    margin-top:4%;
  }
  .car:nth-child(2n){
    margin-right: 10%;
  }

  #estrenos-carousel{
    background-color: black;
  }
  .dropdown-content {
      margin-left: 90%;
      margin-top: -5%;
  }
  li.li-logo{
    display: none;
  }
  nav ul.ul-menu {
    float: right;
    display: flex;
    margin-top: 16px;
    width: 598.84px;
    height: 90.28px;
}

li.nombre p {
    position: relative;
    bottom: -16px;
    width: 109%;
    left: -156px;

}

button.dropbtn {
    position: relative;
    bottom: 42px;
    left: 471px;
}
a.boton_deHome {
    display: block!important;
    position: relative;
    bottom: 41px;
    left: 291px;
    z-index: 1;
}

.lds-ring div{
  margin-top: 300px;
  margin-left: 260px;
}

}
